<div class="col-md-4 col-md-offset-4">
  <form method="POST" action="/new">
    <h2>Add New Product/Item</h2>
    <div class="form-group">
      <label for="item_id">item id</label>
      <input
        type="integer"
        class="form-control"
        id="item_id"
        name="item_id"
        placeholder="Enter item id"
      />
    </div>
    <div class="form-group">
      <label for="current_price">current price</label>
      <input
        type="integer"
        class="form-control"
        id="current_price"
        name="current_price"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label for="title">title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        placeholder="Enter description"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Workout</button>
  </form>
</div>